<?xml version="1.0" encoding="UTF-8"?>
<config>
    <LoginUrl desc="登录服地址">
        <item vaule="https://testxh.sgsbaye.com:8001/" desc="外网测试三测试" key="1" />
        <item vaule="http://10.225.254.180:8001/" desc="内网" key="2" />
        <item vaule="http://10.191.73.222:8001/" desc="老夏" key="3" />
        <item vaule="http://10.191.73.210:8001/" desc="孔大" key="4" />
        <item vaule="http://10.191.72.22:8001/" desc="QA" key="5" />
        <item vaule="http://10.225.254.180:8001/" desc="内网测试" key="6" />
		 <item vaule="https://testxh.sgsbaye.com:8001/" desc="外网测试三测试" key="7" />
		  <item vaule="https://xh.sgsbaye.com:8001/" desc="外网公司内测服" key="8" />
		   <item vaule="https://banshu.7eventya.com:8001/" desc="外网版署服务" key="9" />
		    <item vaule="https://stress.7eventya.com:8001/" desc="压测服务" key="10" />
			 <item vaule="https://stars-sea.7eventya.com:8001/" desc="欧洲-罗马尼亚" key="11" />
  			<item vaule="https://stars.zhoushanlianqing.com:8001/" desc="国内三测正式服" key="12" />
			  <item vaule="https://stars-sea.7eventya.com:8001/" desc="东南亚-菲律宾-下掉了" key="13" />
		  <item vaule="https://stars-sea.7eventya.com:8001/" desc="东南亚-菲律宾-下掉了" key="14" />
    </LoginUrl>
    
    <ActiveUrl vaule="7" desc="当前使用的登录服"/>
    
    <ResUrl  vaule="http://stars-oss.zhoushanlianqing.com/release" desc="资源服地址"/>
    
    <OpenSDK vaule="1" desc="1 true ,0 false"/>
    
</config>