LockMarker
{	
	width: 20px;
	height: 20px;
	background-image: resource("Assets/Editor/StyleSheets/Extensions/timelineicon10.png");
}

PhaseMarker
{
	width: 10px;
	height: 15px;
	background-image: resource("Assets/Editor/StyleSheets/Extensions/timelineicon1.png");
}

DamageMarker
{
	width: 10px;
	height: 15px;
	background-image: resource("Assets/Editor/StyleSheets/Extensions/timelineicon2.png");
}

GeneralMarker
{
	width: 10px;
	height: 15px;
	background-image: resource("Assets/Editor/StyleSheets/Extensions/timelineicon3.png");
}

CommonMarker
{
	width: 20px;
	height: 20px;
	background-image: resource("Assets/Editor/StyleSheets/Extensions/timelineicon8.png");
}

BufferMarker{
	width: 20px;
	height: 20px;
	background-image: resource("Assets/Editor/StyleSheets/Extensions/timelineicon6.png");
}

SpawnBulletMarker{
	width: 20px;
	height: 20px;
	background-image: resource("Assets/Editor/StyleSheets/Extensions/timelineicon11.png");
}
TrapEventMarker{
	width: 20px;
	height: 20px;
	background-image: resource("Assets/Editor/StyleSheets/Extensions/timelineicon6.png");
}

FadeoutAnimationMarker{
	width: 20px;
	height: 20px;
	background-image: resource("Assets/Editor/StyleSheets/Extensions/timelineicon12.png");
}
LoopSkillMarker{
	width: 20px;
	height: 20px;
	background-image: resource("Assets/Editor/StyleSheets/Extensions/timelineicon13.png");
}

.Icon-TriggerStage {
	/* GUIStyle.alignment */
	-unity-text-align: middle-left;

	/* GUIStyle.fixedHeight */
	height: 15;

	/* GUIStyle.fontSize */
	font-size: --unity-font-size;

	/* GUIStyle.imagePosition */
	-unity-image-position: image-only;

	/* GUIStyle.name */
	-unity-name: "Icon.Activation";

	/* GUIStyle.richText */
	-unity-rich-text: false;

	/* GUIStyle.stretchWidth */
	-unity-stretch-width: false;

	/* GUIState.textColor */
	color: rgba(0, 0, 0, 0.75);
}